/* ===========================
   AmmuWriter Premium Theme
=========================== */

/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */
body{
    background:#000000;
    color:#ffffff;
    font-family:Arial, sans-serif;
    line-height:1.6;
}
/* Header */

header{
    background:#111111;
    padding:25px;
    text-align:center;
    border-bottom:2px solid gold;
}

header h1{
    color:gold;
    font-size:36px;
    letter-spacing:2px;
    margin-bottom:10px;
}

header p{
    color:#dddddd;
    font-size:18px;
}
